symbols/llmtester.json
{
  "name": "llm tester",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        20
      ],
      "id": "298514ab-6f36-4212-bbce-939831f3e0ce",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "chatId": "-1002793496878",
        "text": "=todays joke is  {{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1060,
        -100
      ],
      "id": "f97fce7e-b8c9-4fd4-a6a5-75d6293a1669",
      "name": "Send a text message",
      "webhookId": "061c728a-457c-425b-8b62-fb56abb3b1ad",
      "credentials": {
        "telegramApi": {
          "id": "FNhCBbEpIegop14Z",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "tell me a joke",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        140,
        -180
      ],
      "id": "6cde4795-8640-46ea-8a5e-ac3b87e03f94",
      "name": "When chat message received",
      "webhookId": "48636601-86bb-4b01-97e2-ff4359dc1b64"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "tell me a joke",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "make sure it is a unique joke"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        400,
        20
      ],
      "id": "b5f5cc34-5914-4ed4-8fc0-f39cf9faa61b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "d409322b-8f49-4e54-b763-3001e233e28c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "e95QbimUJvBb4tqj",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25da0542-a878-4f1f-8c17-ecc76d72c79e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3df7c7c6cb7e0e978bf80ded11fce953795594ae8fe07b63ac449418b447c9e7"
  },
  "id": "TV6UKyOA6nSto0QH",
  "tags": []
}